*{
	transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;	/* Firefox 4 */
	-webkit-transition: all 1s;	/* Safari 和 Chrome */
	-o-transition: all 1s;	/* Opera */
}
.container:hover .ear-left{
	transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);		/* IE 9 */
	-webkit-transform: rotate(-20deg);	/* Safari and Chrome */
	-o-transform: rotate(-20deg);		/* Opera */
	-moz-transform: rotate(-20deg);		/* Firefox */
}
.container:hover .ear-right{
	transform: rotate(20deg);
	-ms-transform: rotate(20deg);		/* IE 9 */
	-webkit-transform: rotate(20deg);	/* Safari and Chrome */
	-o-transform: rotate(20deg);		/* Opera */
	-moz-transform: rotate(20deg);		/* Firefox */
}

.container:hover .eye-bottom{
	transform:translate(0,-15px);
	-ms-transform:translate(0,-15px); /* IE 9 */
	-moz-transform:translate(0,-15px); /* Firefox */
	-webkit-transform:translate(0,-15px); /* Safari and Chrome */
	-o-transform:translate(0,-15px); /* Opera */
}

.container:hover .eye-core{
	transform:scaleX(0.8);
	-ms-transform:scaleX(0.8); 	/* IE 9 */
	-moz-transform:scaleX(0.8); 	/* Firefox */
	-webkit-transform:scaleX(0.8); /* Safari 和 Chrome */
	-o-transform:scaleX(0.8);
}
.container:hover .face-red{
	opacity: 1;
}
.container:hover .mouth-left{
	border-radius: 0% 40% 50% 50%;
}
.container:hover .mouth-right{
	border-radius: 40% 0% 50% 50%;
}